name: Test Action Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test

  build:
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: Checkout Repo
          uses: actions/checkout@v3
        - name: Install Dependencies
          run: npm ci
        - name: Build
          run: npm run build
        - name: Save Artifact
          uses: actions/upload-artifact@v4
          with:
            name: dist-files
            path: dist
  
  deploy:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: download artifact
          uses: actions/download-artifact@v4
          with:
            name: dist-files
        - name: List files
          run: ls -ltr
        - name: Deploy
          run: echo "Deployment initiated"